@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  background-color: #1C1C1C;
  color: white;
}

a {
  color: white;
}

.frame {
  padding: 20px;
}

.list {
  font-family: "Roboto Mono", monospace;
}

.entry {
  text-align: center;
  font-size: 1.2em;
  padding: 1.0em 0;
}
